<header>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KWLPMLNL');</script>
<!-- End Google Tag Manager -->
    <h1>Michi 🐾</h1>
    <nav>
        <a href="index.html">Luna</a>
        <a href="gato2.html">Milo</a>
        <a href="gato3.html">Nala</a>
    </nav>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HMWRGPFFJN"></script>

</header>
